/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body{
    font-family: Lato, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.3);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    width: 960px;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/*************************************************************************************************************
********************************************* SECTION CLASSES ************************************************
*************************************************************************************************************/
.section{
    padding: 85px 0;
}
.section-white{
    background: #FFF;
    color: #777;
}
.section-black{
    background: #000;
    color: #FFF;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 26px;
    margin: 0 0 18px;
}
.section .section-heading p{
    font-weight: 300;
    font-style: italic;
    font-size: 15px;
    margin: 0;
}
.section-white .section-heading p{
    color: dimgray;
}
.section-black .section-heading p{
    color: #AAA;
}
.grayscale{
    filter: opacity(60%);
}
/*************************************************************************************************************
********************************************* NAVBAR CLASSES *************************************************
*************************************************************************************************************/
.navbar{
    width: 100%;
    height: 45px;
    line-height: 45px;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}
.navbar-white{
    background-color: #FFF;
    color: #000;
}
.navbar-blue{
    background: #0077B6;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu .menu-item{
    display: inline-block;
    text-transform: uppercase;
}
.menu .menu-item a{
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
}
.menu-item{
    text-transform: capitalize;
    display: block;
}
.menu-item a{
    display: block;
}
.navbar-white .menu .menu-item a:link,
.navbar-white .menu .menu-item a:visited{
    color: #000;
}
.navbar-white .menu .menu-item a:hover,
.navbar-white .menu .menu-item {
    color: #333;
}
.navbar-blue .menu .menu-item a:hover{
    background: #FC3;
}
.navbar-white .menu .menu-item a:hover{
    background: #CCC;
}
.menu-item a:link,
.menu-item a:visited{
    color: #333;
}
.search-box{
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    cursor: pointer;
}
.navbar-shadow{
    box-shadow: 0px 15px 30px -10px #CCC;
}
.right-margin-5{
    margin-right: 5px;
}
/*************************************************************************************************************
********************************************* IMAGE CLASSES **************************************************
*************************************************************************************************************/
.slider{
    width: 100%;
}
.slider-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.slider-item{
    position: relative;
}
.slider .slider-image{
    width: 100%;
    height: 400px;
}
.slider-item .image-caption{
    position: absolute;
    bottom: 50px;
    width: 420px;
    height: 55px;
    background: #333;
    margin-left: 550px;
    margin-bottom: 135px;
}
.image-caption .caption-title{
    font-size: 26px;
    letter-spacing: 8px;
    color: #FFF;
    text-align: center;
    line-height: 6px;
}
/*************************************************************************************************************
********************************************* ABOUT ME CLASSES ***********************************************
*************************************************************************************************************/
.amText{
    line-height: 25px;
}
.photographer{
    text-align: center;
}
.event{
    position: relative;
}
.event img{
    width: 425px;
    height: 290px;
}
.event .overlay{
    position: absolute;
    width: 425px;
    height: 290px;
    background: rgba(255, 255, 255, 0.4);
    top: 0px;
    left: 16px;
    display: block;
}
.event:hover .overlay{
    display: none;
}
.iam{
    font-size: 18px;
    padding-top: 12px;
    margin: 5px;
}
.pbText p{
    letter-spacing: 10px;
    color: dimgray;
    font-size: 18px;
}
.lg{
    height: 35px;
    width: 100%;
    background-color: #ccc;
}
.dg1{
    height: 35px;
    width: 90%;
    background-color: #696969;
}
.dg2{
    height: 35px;
    width: 85%;
    background-color: #696969;
}
.dg3{
    height: 35px;
    width: 75%;
    background-color: #696969;
}
.percentage{
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}
.block-of-grey-with-content{
    background-color: dimgray;
    width: 100%;
    height: 135px;
    padding-bottom: 20px;
}
.style{
    color: #FFF;
    font-size: 24px;
}
.inside{
    font-size: 18px;
}
.right-margin-15{
    margin-right: 15px;
}
/*************************************************************************************************************
********************************************* MY WORK CLASSES ************************************************
*************************************************************************************************************/
.img-size{
    width: 220px;
    height: 165px;
    margin-bottom: 15px;
}
.event1{
    position: relative;
    line-height: 0;
}
.event1 img{
    width: 100%;
}
.event1 .overlay1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    top: 0;
    left: 0;
    display: none;
}
.event1:hover .overlay1{
    display: block;
    cursor: pointer;
}
.styleButton a{
    text-decoration: none;
    background-color: #f1f1f1;
    color: #000;
    padding: 18px;
    font-size: 18px;
}
.styleButton a:hover{
    background-color: lightgray;
}
.styleButton{
    margin-top: 50px;
}
/*************************************************************************************************************
********************************************* CONTACT CLASSES ************************************************
*************************************************************************************************************/
.mImg{
    width: 400px;
    height: 240px;
}
.contactSize{
    font-size: 18px;
}
.form-control{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #CCC;
    margin-bottom: 8px;
}
.btnSend{
    background-color: #333;
    color: #FFF;
    padding: 10px;
}
.btnSend:hover{
    background-color: #777;
    color: #FFF;
}
/*************************************************************************************************************
********************************************* FOOTER CLASSES *************************************************
*************************************************************************************************************/
.footerGrey{
    height: 290px;
    background-color: dimgray;
    width: 100%;
}
.footerGrey:hover{
    background-color: #000;
}
.footerGrey:hover a{
    color: #000;
}
.styleButton1 a{
    text-decoration: none;
    background-color: #f1f1f1;
    color: dimgray;
    padding: 12px;
    font-size: 18px;
}
.styleButton1 a:hover{
    background-color: lightgray;
    color: #000;
}
.styleButton1{
    margin-top: 50px;
}
.icons{
    font-size: 30px;
    color: #FFF;
}
.pwb{
    color: #FFF;
}
.social-icons{
    font-size: 24px;
}
.social-icons:hover{
    color: #999;
}